.about-us {
  padding: 20px;

  color: white; /* White font color */
  text-align: center;
}

.developers-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 20px;
}

.developer {
  margin: 20px;
  text-align: center;
}

.special-mention {
  padding: 0.5rem 10rem;
  font-style: italic;
  text-align: center;
}

.contact-form {
  padding: 20px;
  color: #f2f2f2;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.contact-form button {
  border-radius: 15px;
  background-color: #f87171;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #f64c4c;
}
.developer {
  background-color: #ccd8df;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.developer h3 {
  margin: 0;
  font-size: 24px;
}

.developer-link {
  text-decoration: none;
  color: #333; /* Change link color as desired */
}

.position {
  /* background-color: #ccd8df; */
  margin-top: 5px;
  font-weight: bold;
  color: #555;
}

.developer p {
  margin-top: 10px;
  line-height: 1.5;
  color: #3d3c3c;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f3f4f6; */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  flex-direction: column;
}

/* Media Query for smaller screens */
@media screen and (max-width: 780px) {
  .contact-container {
    padding: 1.5rem;
  }

  .developers-container {
    /* padding: 0.5rem; */
    flex-direction: column;
  }
  .developer {
    padding: 2rem;
  }

  .special-mention {
    padding: 0.5rem 7rem;
  }
}

@media screen and (max-width: 600px) {
  .developers-container {
    padding: 2rem 1rem;
    gap: 1rem;
  }

  .developer {
    padding: 1rem;
  }

  .special-mention {
    padding: 0.5rem 3rem;
  }
}
