.main-container {
  display: grid;
  gap: 2rem;
  padding: 2rem 5rem;
}

.contest-name {
  font-size: 30px;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  
}
.contest-name a {
  color: antiquewhite;
  text-decoration: none;
}
.contest-name a:hover{
  color: rgb(253, 213, 161);
}