
.contest-table {
  padding: 2rem 5rem;
  /* width: 100%; */
  /* border: 2px solid blue; */
}

.table-container {
  border-radius: 10px;
  overflow-x: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  /* border: none; */
  width: 100%;
}

table,
th,
td {
  border: none;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

tr {
  color: white;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
}

th {
  background-color: #030712;
  color: #fff;
}

tr:nth-child(even) td {
  background-color: #111827;
}

tr:nth-child(odd) td {
  background-color: #1f2937;
}

.anchor {
  padding: 0.25rem;
  border-radius: 12px;

  text-decoration: none;
  color: white;
}
.anchor-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .contest-table {
    padding: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .contest-table {
    padding: 2rem 0.5rem;
  }
}