@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

.navbar {
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.title {
  text-decoration: none;
  color: #f3f4f6;
}

.nav-elements {
  display: flex;
  gap: 5rem;
}

.nav-link {
  text-decoration: none;
  color: #f3f4f6;
}
